* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #99ddff;
    color: #00458b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 3rem;
    padding-bottom: 3rem;
}

div{
    margin: 1.5rem;
}

h2{
    color: whitesmoke;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
}

p{
    font-size: 1rem;
    font-style: italic;
    font-weight: 100;
}

input{
    background-color: #00458b;
    border: none;
    border-radius: .9rem;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
    padding: .9rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: whitesmoke;

    transition: all .3s ease-in-out;
}
input:hover{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    transform: translateX(.3rem);
}

div img{
    height: 18rem;
    width: 18rem;
    border-radius: 50%;

}

span{
    font-weight: 400;
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    font-style: normal;
    font-size: 1.2rem;
}

.decor{
    width: 100%;
    height: 100%;
    background-color: #3fd2c7;
    opacity: .45;
    position: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 53% 100%);
    transform: translateX(69%);
    margin: -3rem;
    overflow: hidden;
}